SPOTC_design.key

SPOTC_tool_test.py
SPOTC_tool_test2.py
SPOTC_tool_test3.py
SPOTC_tool_test4.py
SPOTC_tool_test5.py
SPOTC_tool_test6.py
SPOTC_tool_test7.py

session_autosave.json
🫀🛑Atherosclerosis is a hardening of your arteries from plaque building up gradually inside the_datacsv.csv
video_test.csv
